<div class="row featurette">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <h2 class="featurette-heading"> My Story <span class="text-muted text-lowercase" style='font-size: 24px;'>Dedicated to finding your perfect home</span></h2>
          <p class="lead" style='font-size: 18px;'>Purchasing a home is an immensely important life event for everyone. Finding the perfect living space, neighborhood, and amenities can be overwhelming at times. Working with a realtor who takes the time to truly understand what you are looking for is critical to finding your perfect fit. I take pride in matching my clients with their ideal homes in Metro Detroit. If you are looking for a realtor who will tirelessly work to find your match, look no further.   </p>
        </div>
        <div class=" col-md-5 portrait">
          <img class="img-rounded img-fluid center-block" src="http://www.redata.com/100042/reo/agents/474769ax.jpg">
        </div>
</div>
