<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Me</h2>
            <p>Bacon ipsum dolor amet brisket corned beef kevin biltong. Boudin filet mignon picanha, bacon ham hock hamburger short ribs beef drumstick cupim t-bone shank turkey brisket pork. Strip steak meatball shank ham fatback. Chicken hamburger kevin porchetta doner pork pork loin ball tip tail rump boudin swine ribeye. Cupim beef ribs shankle doner kevin pork chop pork loin porchetta biltong tail. Spare ribs t-bone bresaola venison shank. Short ribs tail doner drumstick pork, chicken bresaola pig.

            Burgdoggen doner biltong bresaola strip steak boudin. T-bone leberkas short loin filet mignon, bresaola shank tail ribeye rump beef ribs pork chop pork loin ham hock jerky. Pastrami tenderloin venison pork loin cupim pancetta. Prosciutto tongue rump, strip steak pork short loin short ribs beef pork loin turducken t-bone. Landjaeger t-bone pork cupim biltong drumstick picanha tenderloin. Leberkas prosciutto ribeye jerky turkey tail bacon boudin salami beef ribs. Ham pancetta shank burgdoggen turducken meatball landjaeger chuck drumstick porchetta chicken t-bone filet mignon.
            </p>
        </div>
    </div>
</section>