<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Dedicated to Customer Satisfaction<span class="text-muted text-lowercase"> See what former clients have to say</span></h2>
          <p class="lead"> My main concern is always the satisfaction of my clients. Going above and beyond what is expected from a realtor is what I strive for. Whether you need help buying or selling a home, I will be there with you every step of the way. Please visit any of the pages below to see what former clients have to say about working with me.</p>

          <ul class="list-inline list-social-icons">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-5 order-md-1">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
      </div>







