<section id="contact" class="container content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 m-auto">
                <div class="jumbotron thirdjumbo">
                    <div class="container">
                        <h1 class="display-3">Contact</h1>
                    </div>
                </div> 
                <div class="contact-form text-center">
                    <p class="hint-text">Let's find your next home! Please fill out the information below and I will contact you for a free consultation. </p>
                    <form action="/examples/actions/confirmation.php" method="post">           
                        <div class="form-group">
                            <label for="inputFirstName">Name</label>
                            <input type="text" class="form-control" id="inputFirstName" required>
                        </div>                                  
                        <div class="form-group">
                            <label for="inputEmail">Email Address</label>
                            <input type="email" class="form-control" id="inputEmail" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Phone Number</label>
                            <input type="phone" class="form-control" id="inputPhone" required>
                        </div>
                        <div class="form-group">
                            <label for="inputMessage">Message</label>
                            <textarea class="form-control" id="inputMessage" rows="5" required></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



