<hr class="featurette-divider">

  <div id="market" class="row featurette market">
    <div class="col-md-5">
          <span class="glyphicon glyphicon-stats"></span>
    </div>
    <div class="col-md-6">
      <h2 class="featurette-heading">Market Trends<span class="text-muted text-lowercase" style='font-size: 24px;'> Expertise on the housing market in Metro Detroit</span></h2>
      <p class="lead">The housing market is constantly evolving, and Metro Detroit has seen some major changes in recent years. Keeping up to date on trends in the market is critical to finding a home that makes sense for the present and future. If you are interested in researching current trends in the market, click here to view my personal blog on the housing market in Metro Detroit.  </p>
      <br>
      <br>
      <a href="#review" class="btn page-scroll marketbtn">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
    <div class="col-md-1"></div>
  </div>


